.card{
    width: 300px;
    min-height: 300px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}
.card-image{
    height: 200px;
    width: 100%;
    border-radius: 33% 67% 36% 64% / 42% 53% 47% 58% ;
}
.card-heading{
    text-align: center;
    text-decoration: underline;
    text-shadow: 5px 5px 3px grey;
}
.items{
    width: 125px;
    margin-left: auto;
    margin-right: auto;
}