.flex-container{
    width: 75%;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 300px;
}
.flex-item{
    width: 30%;
    background-color: darkcyan;
    border: 1px solid  white;
    height: 150px;
}
@media (max-width:500px) {
    .flex-container{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .flex-item{
        width: 75%;
    }

}