.parent{
    width: 400px;
    height: 400px;
    background-color: #C53C3C;
    position: relative;
    overflow: hidden;
}
.child{
    width: 150px;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 50%;
    text-align: center;   
}
body{
    /* height: 100vh; */
    min-height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.child:nth-child(1){
    position: absolute;
    transform: translate(-50%,-50%);
}
.child:nth-child(2){
    position: absolute;
    right: 0%;
    transform: translate(50%,-50%);
}
.child:nth-child(3){
    position: absolute;
    bottom: 0%;
    transform: translate(-50%,50%);
}
.child:nth-child(4){
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(50%,50%);
}
.fixed{
    width: 275px;
    height: 125px;
    background-color: #C53C3C;
    position: fixed;
    right: 0;
    top: 0;
}
.sticky{
    width: 80%;
    height: 100px;
    background-color: yellowgreen;
    position: sticky;
    bottom: 0;
}