.parent{
    width: 300px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 43%;
    left: 40%;
}
.child-1{ 
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: brown;
}
.child-2{ 
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: brown;
    position: absolute;
    bottom:0%;   
}
.child-3{ 
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: brown;
    position: absolute;
    bottom:0%;
    right: 0%;
}
.child-4{ 
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: brown;
    position: absolute;
    right: 0%;
    top: 0%;
}
.child-5{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: brown;
    position: absolute;
    left: 45%;
    top: 0%;
}
.child-6{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: brown;
    position: absolute;
    right: 0%;
    top: 40%;
}
.child-7{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: brown;
    position: absolute;
    left: 45%;
    bottom: 0%;
}
.child-8{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: brown;
    position: absolute;
    left: 0%;
    top: 40%;
}
