*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;   
}
.container{
    width: 100%;
    background-color: #1C129F;
}
nav>div>a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.banner{
    height: 200px;
    background-color: #43A1C1;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookings{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.hotel{
    width: 30%;
    height: 350px;
    border: 3px solid #0057B8;
    border-radius: 10px;
}
.hotel img{
    width: 90%;
    padding: 20px;
    height: 200px;
}
h2{
    text-align: center;
    margin-bottom: 10px;
    color: #0057B8;
}
h3{
    text-align: center;
    margin-bottom: 10px;
    color: green;
}
.location{
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
}
.footer{
    text-align: center;
    height: 90px;
    margin-top: 20px;
    background-color: #1C129F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



