.container{
    background-color: green;
    text-align: center;
    height:500px;
    border: 1px chartreuse solid;
    border-radius: 10px;
}
.child1{
    background-color: darkcyan;
    text-align: center;
    height: 100px;
    border: 1px chartreuse solid;
    border-radius: 10px;
}
.child2{
    background-color: brown;
    text-align: center;
    width: 75%;
    height:100px;
    border: 1px chartreuse solid;
    border-radius: 10px;
}
.child3{
    background-color: brown;
    text-align: center;
    width: 50%;
    height:100px;
    border: 1px chartreuse solid;
    border-radius: 10px;
}