.grid-container{
    width: 50%;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;   
}
.grid-item:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #1F2837;
}
.grid-item:nth-child(2){
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: #1F2837;
    color: white;
}
.name{
    position: relative;
    margin-top: 40px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60%;
    border: 1px solid white;
}
.name h3{
    margin-top: 70px;
    text-align: center;
}
.name h2{
    background-color: #1F2837;
    position: absolute;
    left: 10%;
    bottom: 67%;
    margin-top: 0px;
}
.grid-item:nth-child(3){
    grid-column: 1/2;
    grid-row: 2/5;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item:nth-child(4){
    grid-column: 2/4;
    grid-row: 2/3;
}
.grid-item:nth-child(5){
    grid-column: 2/4;
    grid-row: 3/4;
}
.grid-item:nth-child(6){
    grid-column: 2/4;
    grid-row: 4/5;
}
.grid-item:nth-child(1) img{
    border-radius: 50%;
    width: 200px;
    padding: 20px;
}
.profile{  
    padding: 10px;
}
.profile a{
    line-height: 30px;
}
.profile h4{
    color: white;
    background-color: black;
    padding: 5px;
}
.skills{
    display: flex;  
    justify-content: space-between;
}
.skills li{
    margin: 0 0 10px 0;
}
.skills ul{
    margin: 0;
}
.skills-1{
    width: 40%;
}
.skills-2{
    width: 40%;
}
.grid-item:nth-child(4) h4{
    background-color: #1F2837;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding: 5px;
}
.grid-item:nth-child(5) h4{
    background-color: #1F2837;
    color: white;
    text-align: center;
    padding: 5px;
}
.grid-item:nth-child(6) h4{
    background-color: #1F2837;
    color: white;
    text-align: center;
    padding: 5px;
}
.education{
    display: flex;
    justify-content: space-evenly;
}
.year-period{
    width: 50%;
}
.degree{
    width: 50%;
}
.grid-item:nth-child(5) h3{
    margin-top: 0;
}
.grid-item:nth-child(5) h4{
    margin-top: 0;
    margin-bottom: 0;
}
.grid-item:nth-child(6) h4{
    margin-top: 0;
}
.award-1{
    display: flex;
    justify-content: space-around;
}
.award-2{
    display: flex;
    justify-content: space-around;
}
.year{
    width: 40%;
}
.position{
    width: 60%;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

