body{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: #4CC7C0;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
.name{
    text-decoration: underline;
    margin-left: 5%;
    margin-top: 2%;
}
.contact{
    text-align: right;
}
.summary h2{
    text-align: center;
    text-decoration: underline;
}
.left-contents{
    width: 40%;
}
.left-contents h2{
    text-decoration: underline;
}
.degree{
    display: flex;
}
.degree p{
    margin: 0 20px 0 0;
}
.class-12,.class-10{
    display: flex;
}
.class-12 p{
    margin: 0 20px 0 0;
}
.class-10 p{
    margin: 0 30px 0 0;
}
.left-contents{
    padding-right: 50px;
    border-right: 1px solid grey;
}
li{
    margin-bottom: 10px;
}
.contents{
    display: flex;
}
.right-contents{
    padding: 0 0 0 20px;
    width: 60%;
    text-align: justify;
}
.right-contents h2{
    border-bottom: 3px solid black
}
.body-content{
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 10px;
    line-height: 25px;
}
