.flex-container{
    width: 75%;
    height: 350px;
    background-color: yellowgreen;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flex-item{
    width:20%;
    height:275px;
    background-color: violet;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}