.grid-container{
    width: 75%;
    height: 400px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    background-color: green;
    gap: 20px;
    padding: 20px;
}
.grid-item{
    background-color: goldenrod;
    text-align: center;
}
.grid-item:nth-child(1){
   grid-column-start: 1;
   grid-column-end: 3;
}
.grid-item:nth-child(2){
   grid-column-start: 3;
   grid-column-end: 4;
}
.grid-item:nth-child(6){
   grid-column-start: 3;
   grid-column-end: 5;
}
.grid-item:nth-child(7){
   grid-column-start: 1;
   grid-column-end: 3;
}
.grid-item:nth-child(8){
   grid-column-start: 3;
   grid-column-end: 5;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

