.heart{
    color: white;
    background-color: palevioletred;
    padding: 10px;
}
.button-text{
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: palevioletred;
    border: 0px;
}
.card-body{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white; 
}
.card-image{
    width: 50%;
}
.card-image img{
    width: 100%;
    margin-top: 60px;
}
.card-content{
    width: 40%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: palevioletred;
}
.button-items{
    display: flex;
    justify-content: space-between;
}
.size-content{
    color: palevioletred;
    display: flex;
    justify-content: space-between;
}
.sizes{
    border: 1px solid grey;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.size-text{
    margin-bottom: 0px;
    color: palevioletred;
}
.size-item{
    margin-top: 58px;
}

