.parent{
    background-color: palegreen;
    width: 40%;
    height: 300px;
}
.child{
    width: 150px;
    height: 150px;
    background-color: palevioletred;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}