.parent{
    width: 50%;
    height: 50%;
    background-color: pink;
    position: relative;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.child img{
    position: absolute;
    width: 300px;
    height: 180px;
    top: 50%;
    transform: translate(-50%,-50%);
}
.content{
    position: absolute;
    right: 10%;
    top: 20%;
    
}
.content h2{
    text-align: center;
}