.left-box{
  margin-top: 30px;
}
.center-box{
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
.right-box{
  margin-left: auto;
  margin-top: 90px; 
}

.box{
    background-color: green; 
    color: yellowgreen; 
    border: 2px solid yellowgreen;
    width: 300px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
}