h1{
    color:greenyellow;
}
.luminar{
    background-color:palevioletred;
    text-align: right;
}
.heading{
    background-color:indianred;
}
.paragraph{
    color:palevioletred;
}
.text-bgcolor1{
    background-color:lightgrey;
}
.text-bgcolor2{
    background-color:lightblue;
}