.child{
    border: 2px solid black; 
    padding: 10px; 
    display: flex;
    align-items: center;
}
.parent{
    display: grid;
    grid-template-rows: (5,1fr);
    grid-template-columns: repeat(7,1fr);
    height: 50%;
    width: 65%;
    gap: 5px;
    padding: 10px;
    border: 5px solid black;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child:nth-child(1){
    grid-column: 1/4;
    grid-row: 1/2; 
}
.child:nth-child(2){
    grid-column: 4/5;
    grid-row: 1/4;
}
.child:nth-child(3){
    grid-column: 5/7;
    grid-row: 1/2;
}
.child:nth-child(4){
    grid-row: 1/3;
}
.child:nth-child(10){
    grid-column: 1/4;
}
.child:nth-child(11){
    grid-column: 5/7;
}
.child:nth-child(13){
    grid-column: 1/8;
}
