.top-section{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    background-color: yellow;
    margin-left: 40%;
    margin-top: 30px;
}
.footer-section{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    background-color: yellow;
    margin-left: 40%;
    margin-top: 400px;
}
