.profile{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    height: 500px;
}
.address,.footer,.name,.photo,.qualification{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
    border: 2px solid green;
}
.address{
    grid-row: 1/3;
    grid-column: 1/3;   
}
.name{
    grid-row: 1/2;
    grid-column: 3/5;
}
.photo{
    grid-row: 1/2;
    grid-column: 5/6;
}
.qualification{
    grid-row: 2/3;
    grid-column: 3/6;
}
.footer{
    grid-row: 3/4;
    grid-column: 1/6;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:500px) {
    .profile{
       /* display: block; */
       display: flex;
       flex-direction: column;
    }
    .address,.footer,.name,.photo,.qualification{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

