.parent{
    width: 50%;
    height: 350px;
    background-color: yellowgreen;
    position: relative;
}
.child-box{
    width: 200px;
    height: 200px;
    background-color: maroon;
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate(-50%,-50%);
}
body{
    display: flex;
    /* height: 100vh; */
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}