.head{
    background-color: burlywood;
    width: 175px;
    height: 100px;
    border: 2px black solid;
    text-align: center;
    border-radius: 50%;
}

.body{
     background-color: antiquewhite;
     width: 180px;
     height: 270px;
     border: 2px black solid;
     text-align: center;
}
.hand{
    width: 300px;
    height: 100px;
    background-color: sienna;
    border: 1px solid white;
    text-align: center;
}
.leg{
    width: 100px;
    height: 300px;
    background-color: coral;
    border: 1px solid white;
    text-align: center;
}