.flex-container{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    background-color: cadetblue;
}
.flex-image{
    width: 30%;
}
.flex-image img{
    width: 100%;
}
@media (max-width:500px) {
    .flex-container{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .flex-image{
        width: 75%;
    }
}